---
  locale: "en"
---

{% include head.html %}
	{% include navbar.html %}
	
	<script> 
		$('#hack').addClass('active'); 
		</script>   
		
	<div class="masthead announce location">
			<h1>The Hack For Food</h1>
			<h2>June 1st</h2>
			<h2>The Haynes Room @ AB-Tech</h2>
			<h2>9AM-9PM</h2>
	</div>
    <div class="container">
	
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span5">
            <h1>Saturday, June 1st 9am - 9pm</h1> 
            <h2> Register now on Eventbrite</h2> 
	             <span style="font-weight:bold"> <a class="btn btn-large btn btn-warning" href="http://hack4food.eventbrite.com/">Register</a></br>(first 50 registrations get a “Hack for Food” t-shirt):</span>
	            <br  /><br  />
				<h1>Why Hack for Food?</h1>
			  <p>Do you enjoy local beer, spring cookouts, homemade pizza?<br  /><br  />
			    Do you care about local food and making sure we all have access to it?<br  /><br  /> 
			    Do you like having fruit  trees in public spaces for all to enjoy?<br  /><br  />
			    How about being part of solving the regions food insecurity problems...<br  /><br  />
			    Connecting schools to better food...<br  /><br  />
			    Finding new innovative ways to get healthy food to people that lack the access...<br  /><br  />
			    Ensuring adequate food supply for the region in the event of a crisis...<br  /><br  />
			    Do you have ideas about using technology to accomplish these goals?<br  /><br  />
			    Sound like fun?<br  /><br  />
			  </p>
			
			  <p>
			    Then join other food enthusiasts, designers, coders, data-junkies, and interested citizens for the first ever <span style="font-weight:bold">Hack for Food </span> to develop innovative solutions for local food systems, spurring local economic development and making food systems environmentally sustainable and socially just. 
			    The event will take place on  <span style="font-weight:bold">Saturday, June 1st from 9am-9pm</span>, at AB-Tech’s Enka campus - 1459 Sand Hilll Road, Candler, NC 28715. There will be food and beverages for all and prizes for the winning 
			    Hack for Food teams.  Come for the whole day, part of the day, or just hang out and learn. The first 50 to register will get a Hack for Food t-shirt! 
			     There will be a pre-event social at Mojo Coworking (60 N Market St, Asheville, NC 28801) on <span style="font-weight:bold">Friday, May 31st, from 7pm-9pm</span>. Guest speaker Gordon Smith will kick things off and then we’ll start forming teams for the next day’s work (you can either join a team or come with your favorite idea and build a team of your own). 
			    Need inspiration for a team project? Consider the following...
			   </p>
               <ul>
				  <li>Find and locate the best City owned property to create a community garden.</li>
				  <li>Create a web application to tell other community gardeners when a community garden needs weeding, feeding, watering, or harvesting.</li>
				  <li>Create an infographic that examines the lack access to nutritious foods for some neighborhoods in Buncombe County.</li>
				  <li>Create a more streamlined technology-based method to apply for food stamps.</li>
				  <li>Develop a mobile app to alert people to mobile food markets.</li>
			  </ul>				
	          <p>
	            Did we mention the local beer? 
	            <br  /><br  />
	            GET YOUR HANDS DIRTY BONUS: While enjoying a nice cookout lunch during the Hack for Food, we’ll help a nearby community garden plant fruit trees
	            <br  /><br  />
	            
	  	     </p>
			</div>	
			<div class="span5">
				<a href="http://www.whitehouse.gov/blog/2013/01/22/roll-your-sleeves-get-involved-and-get-civic-hacking"><h1>White House Press Release</h1>
					<h3>Roll Up Your Sleeves, Get Involved, and Get Civic-Hacking</h3></a>
				<a href="http://www.hackforchange.org/" target="_blank">http://www.hackforchange.org/</a>
				
				<h3>What's a Hackathon?</h3>
					<div class="media">
						<iframe width="450" height="315" src="http://www.youtube.com/embed/ttEb0C-IPyA?rel=0" frameborder="0" allowfullscreen></iframe>
					</div>
			</div>
			<div class="span2">
            		<table cellpadding="5px" >
     <thead>
         <th colspan="2"><h1>Presented by:</h1></th>
     </thead>
         <tbody>
             <tr>
                 <td><a href="./index"><img style="width:125px; height:71px; border:0px;" src="./images/cfa_logo.png" /></a></td> 
             </tr>
             <tr>
                <td><a href="http://brigade.codeforamerica.org/"><img style="width:225px; height:85px; border:0px;" src="./images/cfa_brigade_logo.png" /></a></td>
             </tr>
             <tr>
                 <td><a href="http://hackforchange.org"><img style="width:225px; height:42px; border:0px;" src="./images/Logo_Header_BlueandRed.png" /></a></a></td>  
             </tr>
             <tr>
                <td><a href="http://www.abfoodpolicy.org/asheville-buncombe-food-action-plan/"><img style="width:225px; height:109px; border:0px;" src="./images/ABFPCLogo.jpg" /></a></td>
             </tr>
         </tbody>
         
     </table>
				<table>
     <thead>
         <th colspan="2"><h1>Sponsors</h1></th>
     </thead>
         <tbody>
             <tr>
                 <td><a href="https://www.facebook.com/VentureAsheville"><img style="width:125px; height:125px; border:0px;" src="./images/ventureAVL-box.png" /></a></td>
                 <td><a href="http://www.ercbroadband.org"><img style="width:125px; height:125px; border:0px;" src="./images/erc-box.jpg"  /></a></td>
             </tr>
             <tr>
                 <td><a href="http://www.abtech.edu"><img style="width:125px; height:125px; border:0px;" src="./images/abTech-box.jpg"  /></a></td>
                 <td><a href="http://epsilon-inc.com"><img style="width:125px; height:125px; border:0px;" src="./images/epsilon-box.jpg"  /></a></td>
             </tr>
             <tr>
                 <td><a href="http://mojocoworking.com"><img style="width:125px; height:125px; border:0px;" src="./images/mojo-box.png"  /></a></td>
                 <td class="sponsorimg"><a href="http://www.warren-wilson.edu/external_index.php"><img style="width:125px; height:125px; border:0px;" src="./images/ww-box.gif"  /></a></td>
             </tr>
	     <tr>
	         <td><a href="http://www.intel.com/content/www/us/en/homepage.html"><img style="width:125px; height:125px; border:0px;" src="./images/intel-box.png"  /></a></td>
		 <td><a href="http://www.digitalchalk.com/"><img style="width:125px; height:125px; border:0px;" src="./images/DigitalChalk-box.png"  /></a></td>
	     </tr>
	      <tr>
	         <td><a href="http://www.buildfax.com/"><img style="width:125px; height:125px; border:0px;" src="./images/BuildFax-box.png"  /></a></td>
		     <td><a href="http://www.pisgahbrewing.com/"><img style="width:125px; height:125px; border:0px;" src="./images/pisgah_sticker_logo-box.png"  /></a></td>
	      </tr>
           <tr>
	         <td><a href="http://www.newsproutfarms.com/"><img style="width:125px; height:125px; border:0px;" src="./images/newSprout-box.png"  /></a></td>
		     <td><a href="http://counterculturecoffee.com/"><img style="width:125px; height:125px; border:0px;" src="./images/counterculture-box.png"  /></a></td>
	      </tr>
          <tr>
	         <td><a href="http://www.ashevillenc.gov/"><img style="width:125px; height:125px; border:0px;" src="./images/citylogo.png"  /></a></td>
             </tr>
         </tbody>
         
     </table>
			</div>
		</div>
	</div>
		
	<hr />
	
	<div class="row add-top">
		<h1>Events</h1>
		<div class="span6">
			<h2>Hack for Food</h2>
			<p class="lead">Please RSVP via <a class="btn btn-large btn btn-warning" href="http://hack4food.eventbrite.com/">Register</a></p>
			<p class="lead">Location: Haynes Room on the Enka Campus of AB-Tech</br>
			Date: June 1st</br>
			Time: 9am-9pm</p>
			<a href="http://goo.gl/maps/rM4Uc"><h3>Directions</h3></a>
			 
		</div>
		<div class="span6">

			<h2>Meet and Greet Social</h2>
			<p class="lead">Come have a beer, meet some fellow participants, and hear Gordon Smith introduce the event!</p>
			<p class="lead">Location: Mojo Coworking</br>
			Date: May 31st</br>
			Time: 7pm-9pm</p>
			<a href="http://goo.gl/maps/NZb0G"><h3>Directions</h3></a>
			  
		</div>
		
	</div>
	
	<div class="row">
		<hr />
		<div class="span6 prizes add-top">
			<h1>Prizes</h1>
				<ul>
        	<li>Locally raised meat from Warren Wilson College</li>
          <li>Boxes of local organic veggies</li>
          <li>More to come...</li>
                </ul>
				
		</div>
	</div>
	
	
	
	
	


  </body>
</html>

	
