		<div class="navbar navbar-fixed-top navbar-inverse">
          <div class="navbar-inner">
            <!-- Responsive Navbar Part 1: Button for triggering responsive navbar (not covered in tutorial). Include responsive CSS to utilize. -->
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </a>
            <a class="brand" href="./#">{{ site.brigade.name }}</a>
            <!-- Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse. -->
            <div class="nav-collapse collapse">
              <ul class="nav">
                <li id="home"><a href="./#">Home</a></li>
                <li class="dropdown" id="menu1">
			<a href="./#menu1" class="dropdown-toggle" data-toggle="dropdown">Events<b class="caret"></b></a>
                        <ul class="dropdown-menu">
						<li>
							<a href="{{site.brigade.meetup-link}}">
							<i class=icon-comment icon-white></i> 
							Our meetup page</a>
						</li>
   			</ul>
		</li>				
                <li class="dropdown" id="menu2">
					<a href="./#menu2" class="dropdown-toggle" data-toggle="dropdown">Contact<b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li>
							<a href="{{ site.brigade.google-group }}">
							<i class=icon-comment icon-white></i> 
							Our Google Groups Forum</a>
						</li>
						<li>
							<a href="https://www.facebook.com/pages/Code-For-Asheville/425932504166163">
							<i class=icon-bullhorn icon-white></i> 
							Connect on Facebook</a>
						</li>
						<li>
							<a href="https://twitter.com/search?q=%23code4avl&src=typd">
							<i class=icon-retweet icon-white></i> 
							#code4avl - Local Tweets</a>
						</li>
						<li>
							<a href="https://twitter.com/search?q=%23cfabrigade">
							<i class=icon-retweet icon-white></i> 
							#cfabrigade - National Tweets</a>
						</li>
					</ul>
				</li>
                <!-- Read about Bootstrap dropdowns at http://twitter.github.com/bootstrap/javascript.html#dropdowns -->
                <li class="dropdown" id="menu3">
                  <a href="#menu3" class="dropdown-toggle" data-toggle="dropdown">
                    Resources 
                    <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                    <li>
                      <a href="{{ site.brigade.github }}">
                        <i class=icon-wrench icon-white></i> 
                        Our Code on GitHub</a>
                    </li>
                    <li>
                      <a href="{{site.brigade.idea-list}}">
                      <i class=icon-thumbs-up icon-white></i> 
                      Idea List for Civic Apps/Open Data</a>
                    </li>
                  </ul>
                </li>


                <li class="dropdown" id="menu4">
                  <a href="#menu4" class="dropdown-toggle" data-toggle="dropdown">
                    Press
                    <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                    <li>
                        <a href="http://www.govtech.com/e-government/Asheville-NC-Community-Gets-Behind-Open-Data.html">
                        <i class=icon-thumbs-up></i>Open data in Asheville </a>
                    </li>
                    <li>
                      <a href="http://www.govtech.com/National-Civic-Hacking-Event-Takes-Many-Forms-Locally.html">
                      <i class=icon-thumbs-up icon-white></i> 
                      National Day of Civic Hacking</a>
                    </li>
                    <li>
                      <a href="http://www.mountainx.com/article/50865/Will-hack-for-food-Local-techies-and-foodies-join-forces-to-create-altruistic-apps">
                      <i class=icon-thumbs-up icon-white></i> 
                      Local MountainX Hack For food Coverage</a>
                    </li>
                    <li>
                      <a href="http://www.citizen-times.com/article/20130528/NEWS/305280014/Asheville-hackers-tackle-hunger?nclick_check=1">
                      <i class=icon-thumbs-up icon-white></i> 
                      Local ACT Hack For food Coverage</a>
                    </li>
                  </ul>
                </li>


              </ul>
            </div><!--/.nav-collapse -->
          </div><!-- /.navbar-inner -->
        </div><!-- /.navbar -->
