      <div class="featurette">
        <img class="featurette-image pull-left" src="images/noun_project_756_citizen.png">
        <h2 class="featurette-heading">Recent Projects</h2>
        <p class="lead">
          <!--<ul class="lead">
            {% for item in site.content.projects %}
            <li>{{ item.content }}</li>
            {% endfor %}-->
          <ul>
          	<li><span class="lead">AVLBudget.org: Asheville City Budget App</span>
          		<ul>
          			<li><a href="https://github.com/CodeForAsheville/Visual-Town-Budget">Github</a> </li>
          			<li><a href="http://www.avlbudget.org/">The App in action!</a></li>
          		</ul>
          	</li>
          
          	<li><span class="lead">ReRouteAVL: National Day of Civic Hacking</span>
          		<ul>
          			<li><a href="http://codeforasheville.org/reroute/">Website</a></li>
          			<li><a href="http://codeforasheville.org/reroute/recap.html">Event Recap</a></li>
          			<li>
          			      Projects
          			      <ul>
                      			<li><a style='padding-left: 20px' href="http://www.avlride.com">AVLRide</a></li>
          	            		<li><a style='padding-left: 20px' href="http://www.avlbus.com">AVLBus</a></li>
          			      </ul>
          		      </li>
          		</ul>
          	</li>
          </ul>
        </p>
      </div>
